#card-movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    margin-bottom: 15px; 
    background: rgb(188, 186, 178);
    border-radius: 5px;
    padding: 30px;
    width: 1000px;
    padding-bottom: 80px;
    justify-content: space-between;
    min-height: 80%;
    
}

#primeiroDado{
    display: flex;
    position: relative;

}

#card-movie #estr{
    position: absolute; 
    right: -400px; 
    top: -20px; 
}

#card-movie #nota{
    position: absolute; 
    right: -450px;  
    font-size: 30px;
    font-weight: 550;
    top: -8px; 
}

.dados{
    display: flex;
    flex-direction: column; 
    margin-left: 20px;
    justify-content: space-between;
    
}

#central{
    display: flex;   
    justify-content: center;
}


#tudo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.932);
    height: 80vh; 

}

#titulo{
    
    color: black;
}

.dado{
    display: flex; 
}

.nome{
    font-weight: 550; 
}

#btnVoltar{
    position: absolute; 
    left: 28px; 
    bottom: 25px; 
    cursor: pointer; 
    font-weight: 600;  
    padding: 6px;
    background: rgba(59, 66, 60, 0.222);
    border: none;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.927);
    width: 80px;
    height: 40px;
}


