.img-fita{
    height: auto;
    width: 200px;
    position: absolute; 
    right: 0; 
    bottom: 0; 
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(30, 30, 30);
    position: relative; 
    height: 91.3px;
}
