.login-form{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    background-color: rgb(240, 240, 240);
    border-radius: 1.5rem;
    width: 80%;
    margin: 6% auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: black;
    gap: 4%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);

    div{
        text-align: center;
    }

    button{
        width: 30%;
        border-radius: 1rem;
        background-color: black;
        color: white;
        height: 2.5vh;
        margin-top: 2%;
        font-size: 0.9rem;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    }
}

.user-input{
    display: flex;
    border-radius: 1rem;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 1%;
    width: 90%;
    gap: 1%;
    margin: 4% auto;

    input{
        border: none;
        width: 80%;
        padding-left: 1rem;
        background-color: white;
    }

    input:focus{
        outline: none;
    }

    img{
        width: 10%;
        height: auto;
    }

}


.form-image{
    width: 30%;
    height: auto;
}

.link-cadastrar{
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-criar-conta{
    text-decoration: underline black 1.2px;
    margin-top: 5%;
    /* color: darkslateblue; */
    font-weight: bold;
}